
<div class="row justify-content-md-center" id="topMargin">

<h2>Displaying selected article: </h2>

</div>
<div class="row justify-content-md-center">

  <ul type="none">

    <li> <b>Title:</b>  <%=   @article.title %></li>

    <li> <b>Description:</b> <%=   @article.description %></li>

  </ul>

</div>







