<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>

<div class="container">


<div class="jumbotron">
  <h1 class="display-4">Welcome to the Alpha Blog!!</h1>
  <hr>

</div>

</div>





</body>
</html>
