<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>

<div class="container">


<div class="jumbotron">
  <h1 class="display-4">Let's learn ruby!</h1>
  <hr>
<p>
  <%= link_to 'About', pages_about_path , class: "btn btn-primary btn-lg" %>
  <%= link_to 'Articles', articles_path, class: "btn btn-primary btn-lg" %>
</p>
</div>

</div>





</body>
</html>
