
.navbar-light {
  background-color: darkslategrey !important;
}
#siteName{
  color: white;
  font-weight: 800;
}
#topMargin{
  margin-top: 5%;
}

@import "bootstrap";

.nav-link {

  color: white  !important;
}